@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Protest+Riot&display=swap');

.ListCard {
    /* min-width: 500px;  */
    /* width: 100%; */
    border-radius: 15px;
    min-height: 10vh;
    position: relative;
    padding: 12px;
    display: flex;
    /* align-items: center; */
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}

.ListCard:hover {
    border: 2px solid var(--css-primary);
}

.ListCard .left {
    height: 138px;
    align-self: center;
    width: 196px;
    /* border: solid red 2px; */
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ListCard .left img {
    height: 100%;
    width: 100%;
}

.ListCard .right {
    margin-left: 6%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.ListCard .right h1 {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.ListCard .subText {
    color: gray;
    display: flex;
    gap: 12px;
    font-family: 'Protest Riot', sans-serif;
}

.ListCard .details {
    width: 100%;
}

.ListCard .details ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ListCard .details .price {
    font-size: 1.6rem;
    color: var(--css-primary);
    font-weight: 900;
}

.ListCard .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.ListCard .buttons .contact {
    background: var(--css-secondary);
    color: white;
    font-size: .5rem;
}

.ListCard .buttons .buy {
    background: green;
    color: white;
    font-size: .5rem;
}

.ListCard .heart {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 519px) {

    .ListCard .right h1 {
        /* font-size: 1rem; */
    }
    .ListCard .subText p{
        /* font-size: 8px; */
    }
    .ListCard .details ul li {
        /* font-size: 10px; */
    }
}

@media screen and (max-width: 430px) {
    .ListCard {
        flex-direction: column;
        text-align: center
        
    }
    .ListCard .buttons {
        justify-content: space-around;
    }
}