@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.Home {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.Home .ListNav {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.HomeLeft {
    min-width: 60vw;
    max-width: 60vw;
    /* border: solid red; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid lawngreen 3px; */
    position: relative;
    border: silver 1px solid;
    border-radius:12px
}

.HomeLeft .BigImg {
    height: 40vh;
    width: 80%;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 5vh;
    margin: 12px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.Home .companyLogo {
    height: 100px;
}

.HomeLeft .BigImg img {
    height: 100%;
    width: 100%;
}

.HomeRight {
    /* width: 40vw; */
    height: 100vh;
    overflow: scroll;
    flex: 1;
    /* border: solid 1px ; */
    padding: 10px;
    border-radius: 12px;
    border: silver 1px solid;
}

.Home .price {
    font-size: 2rem;
    color: var(--css-primary);
    font-weight: 900;
}

.HomeRight .topDeals {
    border: silver 1px solid;
    min-height: 20vh;
    text-align: center;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.HomeRight .toggleSwitcher {
    position: absolute;
    right: 0;
    top: 0;
}

.topDealsHeading {
    font-size: 2rem;
}


.HomeLeft .BigImg {
    /* border: solid yellow; */
}

.HomeLeft .BigHead {
    width: 100%;
    /* border: solid yellow 1px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.HomeLeft .BigHead h1 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.HomeLeft .BigHead .contact {
    background: var(--css-secondary);
    color: white;
    font-size: .7rem;
}

.Home .subText {
    color: gray;
    display: flex;
    gap: 12px;
    font-family: 'Protest Riot', sans-serif;
    align-items: center;
}

.Home .imageGrid {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding: 14px;
}

.imageGrid .iFrame {
    border: solid yellow 1px;
}

.imageGrid .iFrame iframe {}

.Home .HomeLeft .right {
    margin-left: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    gap: 5vh;
}

.right .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    margin-bottom: 10px;
}


.Home .HomeLeft .right h1 {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Kanit', sans-serif;
}


.Home .socials {
    position: absolute;
    right: 10px;
    bottom: 0%;
}

.Home .buy {
    background: green;
    color: white;
    font-size: .5rem;
}



.Home .buy:hover {
    color: var(--css-secondary);
}

.Home .more {
    background: var(--css-primary);
    color: white;
    font-size: .5rem;
}

.more:hover {
    color: black;
}


.locationCombine {
    display: flex;
    gap: 12px;
    margin-top: 46px;
    margin-bottom: 50px;
}


.buyMore {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 12px;
    margin: 12px;
}

.aminities {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 12px;
    margin: 12px;
}





@media screen and (max-width: 1279px) {
    .locationCombine {
        flex-direction: column;
    }
}

@media screen and (max-width: 1162px) {
    .Home {
        flex-direction: column;
    }

    .HomeLeft {
        min-width: 100vw;
    }

    .HomeRight {
        width: 100%;
    }

    .iframe {
        width: 80vw;
        border: 8px;
    }
}

@media screen and (max-width: 487px) {
    .HomeLeft .BigHead h1 {
        font-size: 1rem;
        text-align: center;
    }
    .aminities {
        flex-direction: column;
    }

}